{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "sleep-harmonizer.fullname" . }}
  labels:
    {{- include "sleep-harmonizer.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "sleep-harmonizer.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - ports:
        - port: 8000
          protocol: TCP
  egress:
    - ports:
        - port: 5432
          protocol: TCP
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
{{- end }}
